{% extends 'list.html.twig' %}

{% block movie_menu %}active
{% endblock %}

{% block title %}Liste des films
{% endblock %}

{% block subtitle %}<h2 class="text-muted fw-bold mb-4">Les films et séries/Résultats de recherche</h2>{% endblock %}